@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}

body {
  font-family: 'Merriweather';
  line-height: 1.6;
  color: #222;
  max-width: 36rem;
  padding: 2rem;
  margin: auto;
  background: #fafafa;
}

a {
  color: rgb(70, 56, 150);
  line-height: 1.4rem;
}

a:visited {
  color: rgb(124, 119, 152);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: serif;
  color: #111;
  margin-bottom: 0px;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}

li {
  padding-bottom: 15px;
  display: block;
  line-height: 1.4rem;
}

h2 {
  margin-bottom: 0px;
}
